name: integration test
on:
  pull_request:

jobs:
  test:
    name: ${{ matrix.example }}
    strategy:
      fail-fast: false
      matrix:
        example:
          [
            "examples/recipes-with-photos",
            "examples/recipes-with-multi-type",
            "examples/markdown-docs",
            "examples/testing-options",
          ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
        with:
          node-version: "14"
          npm-version: "7"
      - run: npm ci
        working-directory: ${{ matrix.example }}
      - run: npm run build
        working-directory: ${{ matrix.example }}

  report:
    name: examples-passed
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - run: echo "passed!"
